/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header .container {
  max-width: 1595px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1380px) {
  header .container {
    width: 90%;
  }
}
header .box {
  display: flex;
  align-items: center;
  max-width: 1595px;
  width: 100%;
  justify-content: space-between;
  height: 204px;
}
header .box nav {
  max-width: 564px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .box nav a {
  transition: 0.1s;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 940px) {
  header .box nav a {
    display: none;
  }
}
header .box nav a:hover {
  font-size: 22px;
  color: #9ac900;
  transition: 0.1s;
}

select {
  transition: 0.1s;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

select:hover {
  font-size: 22px;
  color: #9ac900;
  transition: 0.1s;
}

option {
  background-color: #02457A;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mainbox {
  display: flex;
  max-width: 600px;
  width: 100%;
  justify-content: space-between;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #FAFAFA;
  max-width: 376px;
  width: 100%;
  height: 66px;
  border-radius: 36px;
}
.searchbar .searchbar-s1 {
  display: flex;
  border-radius: 40px;
  position: relative;
  left: -110px;
  max-width: 350px;
  height: 66px;
  background-color: #FAFAFA;
  border: none;
  outline: none;
}
.searchbar .circle-s1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #C6ED4B;
}

.shopbar {
  display: flex;
  align-items: center;
  max-width: 159px;
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 33px;
  height: 66px;
  transition: 0.2s;
}
.shopbar :hover {
  width: 31px;
  height: 40px;
  transition: 0.2s;
}
.shopbar h2 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.shopbar .circle-s2 {
  margin-right: 12px;
  max-width: 56px;
  width: 100%;
  height: 56px;
  border-radius: 50%;
  background-color: #02457A;
  margin-left: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bars-staggered {
  display: none;
}

@media (max-width: 1380px) {
  .searchbar {
    display: none;
  }
  .searchbar-s1 {
    display: none;
  }
  .shopbar {
    display: none;
  }
  .circle-s1 {
    display: none;
  }
  .circle-s2 {
    display: none;
  }
  .mainbox {
    display: none;
  }
  .fa-bars-staggered {
    display: inline-block;
  }
}/*# sourceMappingURL=global.css.map */