header {
    .container {
        @include startcontainer
    }
    @media (max-width: 1380px) {
        .container {
            width: 90%;
        }
    }
    .box {
        display: flex;
        align-items: center;
        max-width: 1595px;
        width: 100%;
        justify-content: space-between;
        // border: 1px solid black;
        height: 204px;
        @media (max-width: 940px) {
            img {
                width: 70px;
                height: 50px;
            }
        }
        @media (max-width: 310px) {
            img {
                width: 50px;
                height: 30px;
            }
        }
        nav {
            max-width:564px;
            width: 100%;
            display:flex;
            justify-content: space-between;
            // border: 1px solid black;
            a {
                transition: 0.1s;
                @include headerfont
            }
            @media (max-width: 940px) {
                a {
                    display: none;
                }
            }
            a:hover {
            font-size: 22px ;
            color: $Pri-s5 ;
            transition: 0.1s;
            }
        }
    }
}
select {
    transition: 0.1s;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    @include headerfont
}
select:hover {
     font-size: 22px ;
     color: $Pri-s5 ;
     transition: 0.1s;
}
@media (max-width: 666px) {
    .ul-s1 {
       display: none;
    }
}
option {
    background-color:  $Pri-s1;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainbox {
    display: flex;
    // border: 1px solid black;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // border: 1px solid black;
    background-color: $sec-s4;
    max-width: 376px;
    width: 100%;
    height: 66px;
    border-radius: 36px;
    .searchbar-s1 {
        display: flex;
        border-radius: 40px;
        position: relative;
        left: -110px;
        max-width: 350px;
        height: 66px;
        background-color: $sec-s4;
        border: none;
        outline: none;
    }
    .circle-s1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        // border: 1px solid black;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $Pri-s2;
    }
}
.shopbar {
    display: flex;
    align-items: center;
    // border: 1px solid black;
    max-width: 159px;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 33px;
    height: 66px;
    transition: 0.2s;
    :hover {
        width: 31px;
        height: 40px;
        transition: 0.2s;
    }
    h2 {
        color: #274C5B;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .circle-s2 {
        margin-right: 12px;
        max-width: 56px;
        width: 100%;
        height: 56px;
        // border: 1px solid black;
        border-radius: 50%;
        background-color: $Pri-s1;
        margin-left: 6px;
        display: flex;
        align-items: center;
        justify-content: center;  
    } 
}
.fa-bars-staggered {
    display: none;
}
@media (max-width: 940px) {
    .fa-bars-staggered {
       font-size: 27px;
    }
}
@media (max-width: 310px) {
    .fa-bars-staggered {
       font-size: 20px;
    }
}
@media (max-width:1380px){
    .searchbar {
        display: none;
    }
    .searchbar-s1 {
        display: none;
    }
    .shopbar {
        display: none;
    }
    .circle-s1 {
        display: none;
    }
    .circle-s2 {
        display: none;
    }
    .mainbox {
        display: none;
    }
    .fa-bars-staggered {
        display: inline-block;
    }
}






